@inject IFavoriteAdService favoriteAdService
@inject ICarComparisonService carComparisonService
@using AutoSale.Domain.Enum.Car
@using AutoSale.Domain.Helpers
@using AutoSale.Service.Interfaces
@model AutoSale.Domain.ViewModels.CarAd.ViewCarAdViewModel
@{
    ViewData["Title"] = "View " + Model.CarAd.Title;
    var scriptLinkPart = "@fancyapps";
}

<main class="main main-carad-view">
    <div class="container container-carad-view">
        <div class="title-block mb-4 pb-2">
            
            @if (Model.IsAuthenticated)
            {
                if (Model.CurrentUserId != Model.CarAd.UserId)
                {
                    if ((await favoriteAdService.GetByUserIdAndCarAdIdAsync(Model.CurrentUserId, Model.CarAd.Id)).Data is not null)
                    {
                        <span id="heart-favorite-ad-link" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Remove the ad from favorites"><i style="font-size: 40px" id="heart-favorite-ad" class="fa-solid fa-heart h1 m-0"></i></span>
                    }
                    else
                    {
                        <span id="heart-favorite-ad-link"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add the ad to favorites"><i style="font-size: 40px" id="heart-favorite-ad" class="fa-regular fa-heart h1 m-0"></i></span>
                    }
                }
            }
            
            <h1 class="m-0">@Model.CarAd.Title</h1>
        </div>
        @if (Model.Message is not null)
        {
            <p style="margin-top: -1.5rem; color: red" class="h2 fw-bold">@Model.Message</p>
        }
        <div class="carad-view-wrapper mt-4 ">
            <div class="carad-view-left-wrapper mt-lg-0 mt-3 col-12 col-lg-5 col-xl-4">
                <div class="carad-view-left">
                    <div class="carad-view-price ">
                        <div style="border-radius: 25px;" class="alert alert-success p-2 ps-3 mb-4" role="alert">
                            <p class="h2 m-0 fw-bold">@((int)Model.CarAd.Car.Price) @Model.CarAd.Car.Currency.Sign</p>
                        </div>
                    </div>
                    <div class="carad-view-owner p-2 mb-3">
                        <div class="carad-view-owner-content d-flex gap-2">
                            <div style="max-width: 100px;" class="carad-view-owner-image-wrapper ">
                                @if (Model.UserImageName is not null)
                                {
                                    <img class="w-100" style="border-radius: 50%"  src="~/images/@Model.UserImageName" alt="Avatar">
                                }
                                else
                                {
                                    <img class="w-100" style="border-radius: 50%" src="~/images/site/default_avatar.svg" alt="Avatar">
                                }
                            </div>
                            <div class="carad-view-owner-data ">
                                <p class="mb-2 h5">
                                    <strong>Seller</strong>
                                    @if (Model.IsAuthenticated)
                                    {
                                        if (Model.CurrentUserId == Model.CarAd.UserId)
                                        {
                                            <strong><span> (You)</span></strong>
                                        }
                                    }
                                </p>
                                <p class="mb-2">@Model.CarAd.User.Surname @Model.CarAd.User.Name @Model.CarAd.User.LastName</p>
                                <a class="h5 d-flex align-items-center" href="tel:@("+38" + Model.CarAd.User.PhoneNumber)"><i style="font-size: 18px;" class="fa-solid fa-phone pe-2"></i>@Model.CarAd.User.PhoneNumber</a>
                                <a class="h5 d-flex align-items-center" href="mailto:@Model.CarAd.User.Email"><i style="font-size: 18px;" class="fa-solid fa-envelope  pe-2"></i>@Model.CarAd.User.Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="carad-view-add-to-compare mb-3">
                        <p style="border-radius: 25px;" class="mb-2"><a style="border-radius: 25px;" class="btn btn-warning w-100 py-2"><i class="fa-regular fa-comments pe-2"></i>All reviews</a></p>
                    </div>
                    
                    @if (Model.IsAuthenticated)
                    {
                        if (Model.CurrentUserId != Model.CarAd.UserId)
                        {
                            <div class="carad-view-add-to-compare mb-3">
                                <p style="border-radius: 25px;" class="mb-2"><a style="border-radius: 25px;"  class="btn btn-primary w-100 py-2"><i style="transform: rotateY(180deg);" class="fa-regular fa-comment ps-2"></i>Leave a review</a></p>
                            </div>
                            
                            if ((await carComparisonService.GetByUserIdAndCarAdIdAsync(Model.CurrentUserId, Model.CarAd.Id)).Data is not null)
                            {
                                <div id="button-comparison" type="button" style="border-radius: 25px;" class="btn btn-success w-100 py-2 mb-3">
                                    <i class="fa-solid fa-scale-balanced pe-2"></i><span>Remove car from comparison</span>
                                </div>
                            }
                            else
                            {
                                <div id="button-comparison" type="button" style="border-radius: 25px;" class="btn btn-success w-100 py-2 mb-3">
                                    <i class="fa-solid fa-scale-balanced pe-2"></i><span>Add car to comparison</span>
                                </div>
                            }
                        }
                    }
                    
                    <div class="carad-view-info ps-2 ">
                        <div class="carad-view-created">
                            <p class="mb-2">The ad has been created at: <strong>@Model.CarAd.DateOfCreation.ToString("dd.MM.yyyy HH:mm")</strong></p>
                        </div>
                        <div class="carad-view-favorites-count">
                            <p class="mb-2">Saved to favorites: <strong id="count-of-added-to-favorite">@Model.CountOfAddedToFavorite</strong></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carad-view-right-wrapper pl-md-3 col-12 col-lg-7 col-xl-8">
                <div class="carad-view-right">
                    @if (Model.Images.Count != 1)
                    {
                            <div style="border-radius: 25px; overflow: hidden; " class="carad-view-right-swiper">
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    @for (int i = 0; i < Model.Images.Count; i++)
                                    {
                                        if (Model.Images[i].IsMain)
                                        {
                                            <button class="active" aria-current="true" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
                                        }
                                        else
                                        {
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
                                        }
                                    }
                                </div>
                                <div class="carousel-inner d-flex align-items-center">
                                    @foreach (var carImage in Model.Images)
                                    {
                                        if (carImage.IsMain)
                                        {
                                            <div class="carousel-item active">
                                                <a href="~/images/@carImage.Image.Name" data-fancybox="gallery">
                                                    <img src="~/images/@carImage.Image.Name" class="d-block w-100" alt="Image of a car">
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <a href="~/images/@carImage.Image.Name" data-fancybox="gallery">
                                                    <img src="~/images/@carImage.Image.Name" class="d-block w-100" alt="Image of a car">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item-image-one">
                            <a href="~/images/@Model.Images[0].Image.Name" data-fancybox="gallery">
                                <img src="~/images/@Model.Images[0].Image.Name" class="d-block w-100" alt="Image of a car">
                            </a>
                        </div>
                    }
                    
                    <div class="h2 mt-5 mb-3" style="font-weight: 900">About the car:</div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Brand</th>
                                <td class="ps-5">@Model.CarAd.Car.CarBrand.Name</td>
                            </tr>
                            <tr>
                                <th scope="row">Model</th>
                                <td class="ps-5">@Model.CarAd.Car.CarModel.Name</td>
                            </tr>
                            <tr>
                                <th scope="row">Year of production</th>
                                <td class="ps-5">@Model.CarAd.Car.YearOfProduction</td>
                            </tr>
                            <tr>
                                <th scope="row">Mileage</th>
                                <td class="ps-5">@Model.CarAd.Car.Mileage thousand km.</td>
                            </tr>
                            <tr>
                                <th scope="row">Transmission</th>
                                <td class="ps-5">@EnumHelper.GetEnumDisplayName(Model.CarAd.Car.Transmission)</td>
                            </tr>
                            <tr>
                                <th scope="row">Fuel</th>
                                <td class="ps-5">@EnumHelper.GetEnumDisplayName(Model.CarAd.Car.Fuel)</td>
                            </tr>
                            @if (Model.CarAd.Car.Fuel is not Fuel.Electric)
                            {
                                <tr>
                                    <th scope="row">Engine capacity</th>
                                    <td class="ps-5">@Model.CarAd.Car.EngineCapacity liters</td>
                                </tr>
                            }
                            
                            <tr>
                                <th scope="row">Wheel drive</th>
                                <td class="ps-5">@Model.CarAd.Car.WheelDrive.ToString()</td>
                            </tr>
                            <tr>
                                <th scope="row">Color</th>
                                <td class="ps-5">@Model.CarAd.Car.Color.ToString()</td>
                            </tr>
                            <tr>
                                <th scope="row">Number of seats</th>
                                <td class="ps-5">@Model.CarAd.Car.NumberOfSeats</td>
                            </tr>
                            <tr>
                                <th scope="row" >Additional options</th>
                                @if (Model.CarAd.Car.AdditionalOptions is not null)
                                {
                                    <td class="ps-5">@Model.CarAd.Car.AdditionalOptions</td>
                                }
                                else
                                {
                                    <td class="ps-5">Not specified</td>
                                }
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td class="ps-5">@EnumHelper.GetEnumDisplayName(Model.CarAd.Car.Region) region</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="h2 mt-4 mb-3" style="font-weight: 900">Description of the car from the seller:</div>
                    <pre style="white-space: pre-wrap" class="carad-view-right-text-ad">@Model.CarAd.Text</pre>
                </div>
            </div>
        </div>
    </div>
    
</main>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@scriptLinkPart/ui/dist/fancybox.css"/>
@section Scripts {
    <script defer src="https://cdn.jsdelivr.net/npm/@scriptLinkPart/ui@4.0/dist/fancybox.umd.js"></script>
    <script defer>
        
        $(document).ready(function () {
            const toggleFavoriteAd = document.getElementById("heart-favorite-ad-link");
            
            const toggleCarComparison = document.getElementById("button-comparison");
            
            const countOfAddedToFavoriteElem = document.getElementById("count-of-added-to-favorite");
            
            let currentCountOfAddedToFavorite = Number(@Model.CountOfAddedToFavorite);
            
            if (toggleCarComparison !== null) {
                $('#button-comparison').on('click', function(e) {
                    e.preventDefault();
                    const textElem = toggleCarComparison.querySelector("span");
                    $.ajax({
                        url: "/CarComparison/Toggle",
                        method: "POST",
                        data: {
                            userId: "@Model.CurrentUserId",
                            carAdId: @Model.CarAd.Id,
                        },
                        success: function (response) {
                            if (response.isExist) {
                                textElem.innerHTML = "Remove car from comparison";
                                
                            } else {
                                textElem.innerHTML = "Add car to comparison";
                                
                            }
                        },
                        error: function () {
                            
                        },
                        dataType: "json"
                    });
                });
            }
                
            if (toggleFavoriteAd !== null) {
                $('#heart-favorite-ad-link').on('click', function(e) {
                    e.preventDefault();
                    const $this = $(this);
                    $.ajax({
                        url: "/FavoriteAd/Toggle",
                        method: "POST",
                        data: {
                            userId: "@Model.CurrentUserId",
                            carAdId: @Model.CarAd.Id,
                        },
                        success: function (response) {
                            const heartElem = document.getElementById("heart-favorite-ad");
                            if (response.isExist) {
                                $('[data-bs-toggle="tooltip"]').tooltip();
                                $this.attr('data-bs-title', 'Remove the ad from favorites')
                                    .tooltip('dispose')
                                    .tooltip('show');
                                heartElem.classList.remove("fa-regular");
                                heartElem.classList.add("fa-solid");
                                currentCountOfAddedToFavorite += 1;
                                countOfAddedToFavoriteElem.innerHTML = currentCountOfAddedToFavorite.toString();
                            } else {
                                $('[data-bs-toggle="tooltip"]').tooltip();
                                $this.attr('data-bs-title', 'Add the ad to favorites')
                                    .tooltip('dispose')
                                    .tooltip('show');
                                heartElem.classList.remove("fa-solid");
                                heartElem.classList.add("fa-regular");
                                currentCountOfAddedToFavorite -= 1;
                                countOfAddedToFavoriteElem.innerHTML = currentCountOfAddedToFavorite.toString();
                            }
                        },
                        error: function () {
                            
                        },
                        dataType: "json"
                    });
                });
            }
            
        });
            
        const heart = document.getElementById("heart-favorite-ad");
        const heartLink = document.getElementById("heart-favorite-ad-link");
        if (heart !== null && heartLink !== null) {
            heartLink.addEventListener("mouseover", () => {
            if (heart.classList.contains("fa-regular")) {
                heart.style.fontWeight = "900";
            } else {
                heart.style.fontWeight = "500";
            }
            });
            heartLink.addEventListener("mouseout", () => {
            if (heart.classList.contains("fa-regular")) {
                 heart.style.fontWeight = "500";
            } else {
                 heart.style.fontWeight = "900";
            }
            });
        }
    
    </script>
}
