@using AutoSale.Domain.Enum.Car
@model AutoSale.Domain.ViewModels.CarAd.ViewCarAdViewModel
@{
    ViewData["Title"] = "View " + @Model.CarAd.Title;
    var scriptLinkPart = "@fancyapps";
}

<main class="main main-carad-view">
    <div class="container container-carad-view">
        <div class="title-block mb-4 pb-2">
            @if (Model.IsAuthenticated)
            {
                if (Model.CurrentUserId != Model.CarAd.UserId)
                {
                    <a id="heart-favorite-ad-link" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Видалити оголошення з обраного" ><i style="font-size: 40px" id="heart-favorite-ad" class="fa-solid fa-heart h1 m-0"></i></a>

                    <a id="heart-favorite-ad-link"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Додати оголошення до обраного" ><i style="font-size: 40px" id="heart-favorite-ad" class="fa-regular fa-heart h1 m-0"></i></a>
                }
            }
            
            @* <?php if (User::isUserAuthenticated()): ?> *@
            @*     <?php if (User::getCurrentUserId() != $data["ad"]["user_id"]): ?> *@
            @*         <?php if (Favoritead::hasCurrentUserFavoriteAdByCarAdId($data["ad"]["id"])): ?> *@
            @*             <a id="heart-favorite-ad-link" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Видалити оголошення з обраного" href="/favoritead/delete/<?=$data["ad"]["id"]?>"><i style="font-size: 40px" id="heart-favorite-ad" class="fa-solid fa-heart h1 m-0"></i></a> *@
            @*         <?php else: ?> *@
            @*             <a id="heart-favorite-ad-link"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Додати оголошення до обраного" href="/favoritead/add/<?=$data["ad"]["id"]?>"><i style="font-size: 40px" id="heart-favorite-ad" class="fa-regular fa-heart h1 m-0"></i></a> *@
            @*         <?php endif; ?> *@
            @*     <?php endif; ?> *@
            @* <?php endif; ?> *@
            
            
            <h1 class="m-0">@Model.CarAd.Title</h1>
        </div>
        @if (Model.Message is not null)
        {
            <p style="margin-top: -1.5rem; color: red" class="h2 fw-bold">@Model.Message</p>
        }
        <div class="carad-view-wrapper mt-4 ">
            <div class="carad-view-left-wrapper mt-lg-0 mt-3">
                <div class="carad-view-left">
                    <div class="carad-view-price ">
                        <div style="border-radius: 25px;" class="alert alert-success p-2 ps-3 mb-4" role="alert">
                            <p class="h2 m-0 fw-bold">@((int)Model.CarAd.Car.Price) @Model.CarAd.Car.Currency.Sign</p>
                        </div>
                    </div>
                    <div class="carad-view-owner p-2 mb-3">
                        <div class="carad-view-owner-content d-flex gap-3">
                            <div style="width: 100px;" class="carad-view-owner-image-wrapper">
                                @if (Model.UserImageName is not null)
                                {
                                    <img class="w-100" style="border-radius: 50%"  src="~/images/@Model.UserImageName" alt="Avatar">
                                }
                                else
                                {
                                    <img class="w-100" style="border-radius: 50%" src="~/images/site/default_avatar.svg" alt="Avatar">
                                }
                            </div>
                            <div class="carad-view-owner-data">
                                <p class="mb-2 h5">
                                    <strong>Seller</strong>
                                    @if (Model.IsAuthenticated)
                                    {
                                        if (Model.CurrentUserId == Model.CarAd.UserId)
                                        {
                                            <strong><span> (You)</span></strong>
                                        }
                                    }
                                </p>
                                <p class="mb-2">@Model.CarAd.User.Surname @Model.CarAd.User.Name @Model.CarAd.User.LastName</p>
                                <a class="h5 d-flex align-items-center" href="tel:@("+38" + Model.CarAd.User.PhoneNumber)"><i style="font-size: 18px;" class="fa-solid fa-phone pe-2"></i>@Model.CarAd.User.PhoneNumber</a>
                                <a class="h5 d-flex align-items-center" href="mailto:@Model.CarAd.User.Email"><i style="font-size: 18px;" class="fa-solid fa-envelope  pe-2"></i>@Model.CarAd.User.Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="carad-view-add-to-compare mb-3">
                        <p style="border-radius: 25px;" class="mb-2"><a style="border-radius: 25px;" class="btn btn-warning w-100 py-2"><i class="fa-regular fa-comments pe-2"></i>All reviews</a></p>
                    </div>
                    @* <?php if (User::isUserAuthenticated()): ?> *@
                        @* <?php if (User::getCurrentUserId() != $data["ad"]["user_id"]): ?> *@
                            <div class="carad-view-add-to-compare mb-3">
                                <p style="border-radius: 25px;" class="mb-2"><a style="border-radius: 25px;"  class="btn btn-primary w-100 py-2"><i style="transform: rotateY(180deg);" class="fa-regular fa-comment ps-2"></i>Leave a review</a></p>
                            </div>
                            @* <?php if (Carcomparison::hasCurrentUserCarComparisonByCarAdId($data["ad"]["id"])): ?> *@
                                <div class="carad-view-add-to-compare mb-3">
                                    <p style="border-radius: 25px;" class="mb-2"><a style="border-radius: 25px;" class="btn btn-success w-100 py-2"><i class="fa-solid fa-scale-balanced pe-2"></i>Remove car from comparison</a></p>
                                </div>
                            @* <?php else: ?> *@
                                <div class="carad-view-add-to-compare mb-3">
                                    <p style="border-radius: 25px;" class="mb-2"><a style="border-radius: 25px;"  class="btn btn-success w-100 py-2"><i class="fa-solid fa-scale-balanced pe-2"></i>Add car to comparison</a></p>
                                </div>
                            @* <?php endif; ?> *@
                        @* <?php endif; ?> *@
                    @* <?php endif; ?> *@
                    <div class="carad-view-info ps-2 ">
                        <div class="carad-view-created">
                            <p class="mb-2">The ad has been created at: <strong>@Model.CarAd.DateOfCreation.ToString("dd.MM.yyyy HH:mm")</strong></p>
                        </div>
                        <div class="carad-view-favorites-count">
                            <p class="mb-2">Saved to favorites: <strong>100000000</strong></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carad-view-right-wrapper pl-md-3">
                <div class="carad-view-right">
                    @if (Model.Images.Count != 1)
                    {
                            <div style="border-radius: 25px; overflow: hidden; " class="carad-view-right-swiper">
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                    @for (int i = 0; i < Model.Images.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <button class="active" aria-current="true" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
                                        }
                                        else
                                        {
                                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
                                        }
                                    }
                                </div>
                                <div class="carousel-inner d-flex align-items-center">
                                    @foreach (var carImage in Model.Images)
                                    {
                                        if (carImage.IsMain)
                                        {
                                            <div class="carousel-item active">
                                                <a href="~/images/@carImage.Image.Name" data-fancybox="gallery">
                                                    <img src="~/images/@carImage.Image.Name" class="d-block w-100" alt="Image of a car">
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <a href="~/images/@carImage.Image.Name" data-fancybox="gallery">
                                                    <img src="~/images/@carImage.Image.Name" class="d-block w-100" alt="Image of a car">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item-image-one">
                            <a href="~/images/@Model.Images[0].Image.Name" data-fancybox="gallery">
                                <img src="~/images/@Model.Images[0].Image.Name" class="d-block w-100" alt="Image of a car">
                            </a>
                        </div>
                    }
                    
                    <div class="h2 mt-5 mb-3" style="font-weight: 900">About the car:</div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Brand</th>
                                <td class="ps-5">@Model.CarAd.Car.CarBrand.Name</td>
                            </tr>
                            <tr>
                                <th scope="row">Model</th>
                                <td class="ps-5">@Model.CarAd.Car.CarModel.Name</td>
                            </tr>
                            <tr>
                                <th scope="row">Year of production</th>
                                <td class="ps-5">@Model.CarAd.Car.YearOfProduction</td>
                            </tr>
                            <tr>
                                <th scope="row">Mileage</th>
                                <td class="ps-5">@Model.CarAd.Car.Mileage thousand km.</td>
                            </tr>
                            <tr>
                                <th scope="row">Transmission</th>
                                <td class="ps-5">@Model.CarAd.Car.Transmission.ToString()</td>
                            </tr>
                            <tr>
                                <th scope="row">Fuel</th>
                                <td class="ps-5">@Model.CarAd.Car.Fuel.ToString()</td>
                            </tr>
                            @if (Model.CarAd.Car.Fuel is not Fuel.Electric)
                            {
                                <tr>
                                    <th scope="row">Engine capacity</th>
                                    <td class="ps-5">@Model.CarAd.Car.EngineCapacity liters</td>
                                </tr>
                            }
                            
                            <tr>
                                <th scope="row">Wheel drive</th>
                                <td class="ps-5">@Model.CarAd.Car.WheelDrive.ToString()</td>
                            </tr>
                            <tr>
                                <th scope="row">Color</th>
                                <td class="ps-5">@Model.CarAd.Car.Color.ToString()</td>
                            </tr>
                            <tr>
                                <th scope="row">Number of seats</th>
                                <td class="ps-5">@Model.CarAd.Car.NumberOfSeats</td>
                            </tr>
                            <tr>
                                <th scope="row" >Additional options</th>
                                @if (Model.CarAd.Car.AdditionalOptions is not null)
                                {
                                    <td class="ps-5">@Model.CarAd.Car.AdditionalOptions</td>
                                }
                                else
                                {
                                    <td class="ps-5">Not specified</td>
                                }
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td class="ps-5">@Model.CarAd.Car.Region region</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="h2 mt-4 mb-3" style="font-weight: 900">Description of the car from the seller:</div>
                    <pre style="white-space: pre-wrap" class="carad-view-right-text-ad">@Model.CarAd.Text</pre>
                </div>
            </div>
        </div>
    </div>
    
</main>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@scriptLinkPart/ui/dist/fancybox.css"/>
@section Scripts {
    <script defer src="https://cdn.jsdelivr.net/npm/@scriptLinkPart/ui@4.0/dist/fancybox.umd.js"></script>
    <script defer>
        const heart = document.getElementById("heart-favorite-ad");
        const heartLink = document.getElementById("heart-favorite-ad-link");
        heartLink.addEventListener("mouseover", () => {
            if (heart.classList.contains("fa-regular")) {
                heart.classList.remove("fa-regular");
                heart.classList.add("fa-solid");
            } else {
                heart.classList.remove("fa-solid");
                heart.classList.add("fa-regular");
            }
        });
        heartLink.addEventListener("mouseout", () => {
            if (heart.classList.contains("fa-regular")) {
                heart.classList.remove("fa-regular");
                heart.classList.add("fa-solid");
            } else {
                heart.classList.remove("fa-solid");
                heart.classList.add("fa-regular");
            }
        });
    </script>
}
